{% extends 'projectmanager/main.html' %}

{% block content %}
    <h3>Project List</h3>
    <section>
        {% if project_list %}
            {% for project in project_list %}
                <div class="card">
                    <div class="container">
                        <a href="{% url 'projectmanager:project-details' project.id %}">{{ project.project_name }}</a>

                    </div>
                </div>
            {% endfor %}
    
    {% else %}
        <p>There currently aren't any projects</p>
    {% endif %}
    </section>
{% endblock %}
